page-ranking {

    .nombreDelUsuario{
        font-size: 1em;
        font-family: "Rokkitt";
        margin-bottom: 10px !important;
        margin-top: 10px !important;
        color: #420039;
        font-weight: 600;
    }

    .numeroDelRanking{
        font-size: 1.5em;
        font-family: "Rokkitt";
    }

    .texto_ganadas{
        font-size: 1.1em;
        color: #420039;;
        font-weight: 600;
        font-family: "Rokkitt";
    }

    .numero_victorias{
        font-size: 1.1em;
        color: #420039;
        font-weight: 600;
        font-family: "Rokkitt";
    }
    
}
